body{
    box-sizing: border-box;
    margin:0;
    border:0;
}
.contain{
    position: relative;
}
.inputButton{
    position: absolute;
    left:42vw;
    top:0.75vw
}

.completedItem{
    text-decoration: line-through;
}

#itemContainer{
    max-height: 30rem;
    overflow-y: scroll;
}

h3{
    width: 20rem;
    max-height: 2rem;
    overflow-x: scroll ;
    overflow-y: scroll ;
}

@media(max-width:1024px){
    h3{
        width: 4rem;
     }
}

@media(max-width:768px){
    #itemContainer{
        max-height: 22rem;
    }
}