body{
    box-sizing: border-box;
    margin:0;
    border:0;
}
.contain{
    position: relative;
}
.inputButton{
    position: absolute;
    left:42vw;
    top:0.75vw
}

.completedItem{
    text-decoration: line-through;
}

.item{
    overflow: scroll;
}